@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
box-sizing: border-box;
margin: 10;
padding: 0%;
line-height: 1.9em;    
}

html {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: gray;
    padding: 10px 20px;
    font-size: 20px;
   }

.brand-link {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li { 
    margin-left: 20px;
}

nav a { 
    color: #fff;
    text-decoration: none;
    transition: .25s;
}

nav a:hover { 
    color: #ddd;
}

.banner { 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/seedbeads.jpg");
    text-decoration-color: snow;
    background-size: cover;
    background-position: top;
    border-style: solid;   
}

/*.banner h1 { 
    background: rgba (255,255,255,0.5);
    padding: 20px
}*/

.padding-list {
    padding-left: 50px;
    line-height: 10em;
}
.about-image {
    width: 15%;
    display: block;
    margin: 16px auto;
    border: 3px solid black;
}

.row {
    display: flex;
    }

.col {
    width: 25%;
 }

.col img {
    width: 100%;
}
footer {
    height: 25px;
    text-align: center;
    background-color: darkgrey;
}

